body{
    background-color: #e6edfc;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
}

.wraper{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #d2def7;
    border: 1px solid #b8caf0;
    border-radius: 10px;
    padding: 25px;
}

.wraper-block{
    max-width: 600px;
    margin: 0 auto;
    background-color: #d2def7;
    border: 1px solid #b8caf0;
    border-radius: 10px;
    padding: 25px;
    padding-top: 0;
    line-height: 2;
}

h1{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

h2{
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
}

a:hover{
    opacity: 0.5;
}

.block{
    background-color: #b8caf0;
    border: 2px solid #b8caf0;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 25px;
}

.block:last-child {
    margin-bottom: 0;
}

input{
    padding: 5px;
    border-radius: 5px;
    width: 60px;
}

.back{
    text-align: end;
}

button{
    background-color: #b8caf0;
    border-radius: 5px;
    margin-left: 15px;
    padding: 5px;
    font-weight: bold;
}

img{
    width: 600px;
    border-radius: 10px;
}

.balance{
    font-weight: bold;
}

.red {
    color: red;
}

.green {
    color: green;
}